.btnContainer2{
  display: flex;
  height: max-content;
}

.btnChiSono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  background-color: white;
  border-radius: 30px; /* più grande per arrotondare meglio */
  overflow: hidden; /* taglia bene i bordi */
  font-size: 18px;
  text-decoration: none;
  margin-left: 100px;
  margin-top: 30px;
}

.btnChiSono .btnDiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* spazio tra icona e testo */
  padding: 12px 12px;
  background-color: white;
  color: black;
}

.iconWhatsapp {
  font-size: 20px;
  color: black; /* o verde se vuoi */
}

.btnChiSono .btnDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #602198;
  color: white;
  padding: 8px 12px;
  padding-left: 40px;
  font-size: 30px;
  clip-path: circle(63.1% at 71% 53%);

}

