:global(html) {
  margin: 0;
  padding: 0;
  height: 100%;
}

:global(body) {
  margin: 0;
  padding: 0;
  height: 100%;
}

:global(*), :global(*::before), :global(*::after) {
  box-sizing: inherit;
}


/* layout principale: prende tutta l'altezza visibile (dvh) ma non forza overflow */
.container {
  min-height: calc(100dvh - var(--nav-h, 80px)); /* usa dynamic viewport height */
  display: flex;
  flex-direction: column; /* navbar in cima, content al centro */
  justify-content: center;
  align-items: center;
}

.floatingContainer{
    width: 85%;
    height: 75%;
    background-color: white;
    border-radius: 60px;
    border: 5px solid #2c323e;
    padding: 70px 70px;
    box-sizing: border-box;
    display: flex;
}

.subtitleFirst{
    height: max-content;
    color: black;
}

.title {
    height: max-content;
    font-size: 50px;
    background: linear-gradient(to right, #d591ff, #602198);
    -webkit-background-clip: text; /* per Chrome/Safari */
    background-clip: text;         /* standard */
    -webkit-text-fill-color: transparent; /* necessario in WebKit */
}

.leftContent{
    width: 55%;
}

.rightContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}

.description{
    width: 93%;
    margin-top: 25px;
    color: black;
}

.locationContainer, .telefonoContainer, .emailContainer{
    height: max-content;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
    color: black;
}

.buttonContainer{
    margin-top: 30px;
    height: max-content;
}

.iconContact{
    margin-right: 10px;
    font-size: 25px;
}

@media (max-width: 800px){
    .floatingContainer {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 70px 20px;
        margin: 20px 0;
    }

    .leftContent {
        width: 100%;
        text-align: left;
    }

    .rightContent {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        align-items: start;
    }

    .title {
        font-size: 30px;
        line-height: 1.2;
    }

    .description {
        width: 100%;
        font-size: 14px;
        margin-top: 15px;
    }

    .locationContainer, 
    .telefonoContainer, 
    .emailContainer {
        font-size: 18px;
        margin-top: 15px;
        justify-content: center;
    }

    .iconContact {
        font-size: 24px;
    }

    .buttonContainer {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .subtitleFirst {
        font-size: 14px;
    }
}

