/* Video principale */
.mainVideo {
  position: absolute;
  height: 100%;
  z-index: 2;
}

.containerBackVideo{
  width: 80%;
}

/* Video dietro (fermo) */
.backVideo {
  position: absolute;
  top: 50%;
  width: 35%;       /* leggermente più largo */
  height: 105%;     /* leggermente più alto */
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
  transform: translate(42%, -55%) scale(0.80); /* centrato e ridotto */
}

.containerVideo{
  display: flex;
  width: 100%;
  height: 450px;
  align-items: center;
  justify-content: center;
}

.containerBtn {
  position: absolute;
  bottom: 20px;  /* distanza dal fondo del container */
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 10;
  height: 40px;
  font-size: 30px;
  color: white;
  background-color: transparent;
}

@media (min-width: 800px){
  .container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: black;
    display: flex;
    flex-direction: column;  /* <-- aggiunto */
    justify-content: flex-start; /* oppure center, a seconda di cosa vuoi */
    align-items: center;     /* centra i figli orizzontalmente */
  }
}


@media (max-width: 800px){
  .container {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    background: black;
    display: flex;
    flex-direction: column;  /* <-- aggiunto */
    justify-content: flex-start; /* oppure center, a seconda di cosa vuoi */
    align-items: center;     /* centra i figli orizzontalmente */
  }

  .containerBtn{
    bottom: 0px;
  }
}