.btnContainer2{
  display: flex;
  height: max-content;
}

.btnChiSono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  background-color: white;
  border-radius: 20px; /* più grande per arrotondare meglio */
  overflow: hidden; /* taglia bene i bordi */
  font-size: 15px;
  text-decoration: none;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.btnChiSono .btnDiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* spazio tra icona e testo */
  padding: 10px 12px;
  background-color: white;
  color: black;
}

.iconWhatsapp {
  font-size: 20px;
  color: black; /* o verde se vuoi */
}

.btnChiSono .btnDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #d591ff, #602198);
  color: white;
  padding: 12px 12px;
  padding-left: 60px;
  font-size: 35px;
  clip-path: circle(63.1% at 71% 53%);

}

.btnChiSono .btnDiv2 {
  border-radius: 0 10px 10px 0; /* stessi raggi del parent */
}

.iconLogo{
    font-size: 30px;
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.arrowIcon {
  transition: transform 0.3s ease;
}


.btnChiSono:hover .arrowIcon {
  animation: arrowMove 0.8s ease-in-out infinite;
}
